@import 'tailwindcss';
@import './src/styles/typography.css';
@config './tailwind.config.ts';

@theme {
  --font-display: 'Mona-Sans wide', sans-serif;
  --font-sans: 'Mona-Sans', sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));
